.headingRA{

    font-size: 20px;
    font-weight: bolder;
    margin-top: 15px;
}

// .custom-row{
//     display: flex;
//     flex-wrap: wrap;
// }

// .relatedArticle {
//     border: none;
//     width: 100%;
//     height: auto;
//     position: static;
//     align-content: center;
//     justify-content: center;
//     display: flex;
//     margin-left: 25px;

  
//     h5 {
//         font-weight: bolder;

//     }

//     p {
//         width:190px;
//         height: 30px;
//         display:flex;
//         align-items:center;
//        justify-content:center;
//        font-family: Arial, Helvetica, sans-serif;
//         font-size: 13px;
//         background-color: lightgray;
//         position: absolute !important;
//         color: white !important;
//         margin: 95px 50px 0px 30px;
//         opacity: 0.8;
      
    
//       }
// }

// .relatedImage {
//     width: 250px;
// 	height: 150px;
//     border-radius: 20px;
//     margin-top: 30px;
//     margin-right: 50px;
//     margin-bottom: 20px;
   
// 	display: flex;
// 	justify-content: space-evenly;
//     flex-direction: column;
//     transition: 0.5s;
//     position: relative;
    
// }
